body {
  background-color: #dc143c;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
section {
  background-color: yellow;
  width: 150px;
  height: 200px;
  text-align: center;
  padding: 0px 0px 50px 0px;
  margin: 20px 200px 20px 200px;
  border: 6px darkorange solid;
  border-radius: 20px;
}
img {
  background-color: seashell;
  box-shadow: 3px 3px gray;
}

h1 {
  -webkit-text-stroke: 1px blue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: yellow;
  text-shadow: 2px 2px blue;
}

h2 {
  text-align: left;
  padding-left: 10px;
}
h4 {
  background-color: goldenrod;
}
